
<div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-fixed-top"  style="margin-top: 5%;"><!-- style="background:transparent-->
                    <div class="container">
                        
                     
                        
                    </div>
                </nav>
            </div>
        </div>
<!--

  <div class="row" style="margin: 10% 10% 0% 10%">
  
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="../public/images/categories/tumblr_m6v9xq2TTW1rok1n7o1_500.png" alt=""/>
      <div class="project-overlay"> some text </div>
    </a>
  </div>
 --> 

<div class="row featurette" style=" background-image: url('../public/images/ParksBeachesSlide13.jpg'); margin: 10% 10% 0% 10%">
    <div class="col-md-7 col-md-push-5">

        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>
 
 

